In [7]:
import glob
import pandas as pd

In [8]:
# 定义文件路径
filepath = glob.glob('data/baidu/*.xlsx')

In [9]:
# 批量读取文件
data_dict = {}
for file in filepath:
    # 提取文件名作为键
    name = file.split('\\')[-1].split('.')[0]
    # 读取文件
    data = pd.read_excel(file, parse_dates=['时间'], date_format='%Y%m%d')
    # 重命名列
    data = data.iloc[:, 2:]
    data.columns = ['Date', f'{name}_sum', f'{name}_pc', f'{name}_mobile']
    data_dict[name] = data

In [10]:
baidu_df = pd.DataFrame()
for name, data in data_dict.items():
    if baidu_df.empty:
        baidu_df = data
    else:
        baidu_df = pd.merge(baidu_df, data, on='Date', how='outer')

In [12]:
baidu_df.head()

,Date,airport_sum,airport_pc,airport_mobile,bay_sum,bay_pc,bay_mobile,bridge_sum,bridge_pc,bridge_mobile,...,hk_shopping_mobile,hk_show_sum,hk_show_pc,hk_show_mobile,hk_weather_sum,hk_weather_pc,hk_weather_mobile,lowu_sum,lowu_pc,lowu_mobile
0,2023-01-01,234,80,154,268,76,192,1465,250,1215,...,73,205,74,131,1660,202,1458,229,70,159
1,2023-01-02,314,114,200,301,95,206,1422,287,1135,...,78,223,72,151,1984,343,1641,257,83,174
2,2023-01-03,342,139,203,402,183,219,1547,430,1117,...,74,217,85,132,2114,374,1740,340,125,215
3,2023-01-04,349,137,212,401,177,224,1965,613,1352,...,91,205,74,131,1981,374,1607,379,148,231
4,2023-01-05,406,158,248,751,285,466,2091,667,1424,...,73,308,121,187,2003,367,1636,537,204,333

In [13]:
baidu_df.to_csv('data/baidu/baidu_df.csv', index=False)