In [1]:
import pandas as pd

In [2]:
rf = pd.read_csv('data/weather/rf_data.csv', encoding='gbk')

In [3]:
rf.head()

   年/Year  月/Month  日/Day 數值/Value 數據完整性/data Completeness
0    2023        1      1        0                       C
1    2023        1      2    Trace                       C
2    2023        1      3    Trace                       C
3    2023        1      4    Trace                       C
4    2023        1      5    Trace                       C

In [4]:
rf.columns = ['year', 'month', 'day', 'rain', 'complete']

In [5]:
df = rf.copy()
df['Date'] = pd.to_datetime(df[['year','month','day']])
df.drop(columns=['year','month','day', 'complete'], inplace=True)
df.head()

    rain       Date
0      0 2023-01-01
1  Trace 2023-01-02
2  Trace 2023-01-03
3  Trace 2023-01-04
4  Trace 2023-01-05

In [6]:
df['rain'].unique()

array(['0', 'Trace', '5.6', '2.7', '1.2', '0.1', '23', '8.2', '10', '0.2',
       '2.3', '0.5', '1.5', '14.2', '4.1', '34.4', '7.1', '30.9', '0.6',
       '54.5', '13.7', '11.2', '47.6', '37.1', '3.5', '21', '0.8', '19.1',
       '5.7', '42.3', '3.4', '16.2', '13.8', '27.8', '4.7', '45.9',
       '38.7', '22.8', '42.6', '55.9', '8.8', '0.3', '2.4', '6.9', '48.5',
       '14.3', '32.9', '18.6', '13.6', '1.7', '16.8', '17.8', '44.9',
       '13.4', '6.6', '86.3', '15.3', '8.5', '4', '2.1', '23.4', '14.8',
       '7', '6.3', '21.8', '8', '3.2', '1.6', '18.3', '73', '95', '4.8',
       '90.9', '71', '28.9', '44.5', '73.1', '10.5', '0.9', '9.8', '42.7',
       '351.9', '1.1', '3.3', '3.7', '1.3', '0.4', '1.8', '5.5', '14',
       '4.3', '10.7', '33.2', '18.4', '24', '33.3', '25.5', '38.3',
       '84.7', '5.1', '95.8', '0.7', '22.1', '11', '16.9', '9.1', '47.1',
       '42.8', '5.4', '1', '34.9', '5.2', '2.8', '45.3', '2.2', '3.6',
       '6.2', '9.7', '1.9', '3.8', '7.6', '12', '17.3', '24.4', '37.6',
       '13.3', '49', '16.6', '39.2', '34.3', '12.4', '13.9', '18.8',
       '18.9', '60', '11.5', '40.6', '15.4', '42.9', '62.1', '2.9',
       '10.4', '16', '5.3', '29.6', '84.1', '7.3', '20', '5', '2'],
      dtype=object)

In [7]:
# 首先将'Trace'转换为0，然后转换为数值类型
df['rain'] = df['rain'].replace('Trace', '0').astype(float)

# 定义降雨量分类标准
bins = [0, 0.1, 2.5, 7.5, 15, 30, float('inf')]
labels = ['无雨', '小雨', '中雨', '大雨', '暴雨', '大暴雨']

# 创建分类特征
df['rain'] = pd.cut(df['rain'],
                         bins=bins,
                         labels=labels,
                         right=False)

In [8]:
df.head()

  rain       Date
0   无雨 2023-01-01
1   无雨 2023-01-02
2   无雨 2023-01-03
3   无雨 2023-01-04
4   无雨 2023-01-05

In [9]:
# 定义降雨量分类标准和对应的数值编码
rain_categories = {
    '无雨': 0,
    '小雨': 1,
    '中雨': 2,
    '大雨': 3,
    '暴雨': 4,
    '大暴雨': 5
}

# 创建分类特征（使用map函数进行映射，比cut更明确）
df['rain'] = df['rain'].map(rain_categories)

In [10]:
df.tail()

    rain       Date
838    1 2025-04-18
839    1 2025-04-19
840    0 2025-04-20
841    0 2025-04-21
842    0 2025-04-22

In [11]:
df.to_csv('data/weather/rf.csv', index=False)