In [2]:
import pandas as pd
import glob
from sklearn.metrics import mean_absolute_percentage_error

In [23]:
true_path = 'data/round_4/*.xlsx'
true_files = glob.glob(true_path)
true_data_dict = {}
name_list = []
for file in true_files:
    data = pd.read_excel(file)
    name = file.split('\\')[-1].split('.')[0]
    name_list.append(name)
    true_data = data.iloc[-3:, 1].values
    true_data_dict[name] = true_data

In [24]:
true_data_dict

{'Hong Kong International Airport': array([54164, 55832, 64252], dtype=int64),
 'Hong Kong-Zhuhai-Macao Bridge': array([28309, 28153, 31023], dtype=int64),
 'Lo Wu': array([81359, 80281, 82676], dtype=int64),
 'Lok Ma Chau Spur Line': array([66844, 65681, 68887], dtype=int64),
 'Shenzhen Bay': array([47487, 50984, 53957], dtype=int64)}

In [26]:
name_list

['Hong Kong International Airport',
 'Hong Kong-Zhuhai-Macao Bridge',
 'Lo Wu',
 'Lok Ma Chau Spur Line',
 'Shenzhen Bay']

In [34]:
pred_path = '2025.04.09_第5小组_第1轮预测结果.xlsx'
pred_data = pd.read_excel(pred_path, header=None)

In [35]:
pred_data

,0,1,2,3,4,5
0,罗湖,NaN,NaN,NaN,NaN,NaN
1,NaN,日期1,日期2,日期3,日期4,日期5
2,NaN,day1,day2,day3,day4,day5
3,预测结果,80033.643439,78767.546508,78861.470656,97517.935096,123448.519139
4,NaN,NaN,NaN,NaN,NaN,NaN
5,落马洲支线,NaN,NaN,NaN,NaN,NaN
6,NaN,日期1,日期2,日期3,日期4,日期5
7,NaN,day1,day2,day3,day4,day5
8,预测结果,74790.258521,73661.570597,69691.525618,89066.18854,110657.044829
9,NaN,NaN,NaN,NaN,NaN,NaN
10,机场,NaN,NaN,NaN,NaN,NaN
11,NaN,日期1,日期2,日期3,日期4,日期5
12,NaN,day1,day2,day3,day4,day5
13,预测结果,65650.497488,67850.657194,73783.883442,72369.336638,74852.561619
14,NaN,NaN,NaN,NaN,NaN,NaN
15,深圳湾,NaN,NaN,NaN,NaN,NaN
16,NaN,日期1,日期2,日期3,日期4,日期5
17,NaN,day1,day2,day3,day4,day5
18,预测结果,47187.242382,47471.273296,57445.447246,64864.804714,86481.819024
19,NaN,NaN,NaN,NaN,NaN,NaN
20,港珠澳大桥,NaN,NaN,NaN,NaN,NaN
21,NaN,日期1,日期2,日期3,日期4,日期5
22,NaN,day1,day2,day3,day4,day5
23,预测结果,29316.710766,28855.094413,35771.003394,37831.29619,59154.733154

In [38]:
pred_data_dict = {}
index_list = [13, 23, 3, 8, 18]
pred_index_dict = dict(zip(name_list, index_list))
for name, idx in pred_index_dict.items():
    pred_data_dict[name] = pred_data.iloc[idx, 1:4].values

In [39]:
for name in name_list:
    pred = pred_data_dict[name]
    true = true_data_dict[name]
    mape = mean_absolute_percentage_error(true, pred)
    print(f'{name}:{mape}')

Hong Kong International Airport:0.1918950241803591
Hong Kong-Zhuhai-Macao Bridge:0.07119440370589895
Lo Wu:0.027093489642796006
Lok Ma Chau Spur Line:0.08402053056168209
Shenzhen Bay:0.04662112703916089